/* h1 heading tag */
h1 {
  /* Align the text to the center of its enclosing element (e.g. div). */
  text-align: center;
  /* Underline the text. */
  text-decoration: underline;
  /* Change font color */
  color: rgb(244, 11, 11); 
}

h2 {
  /* Change font color */
  color: rgb(11, 170, 244); 
}
